go 1.25.0

use .

use ./adapters/export/otlp

use ./adapters/export/prometheus

use ./adapters/export/cloudwatch

use ./adapters/export/statsd

use ./adapters/httpbatch

use ./adapters/export/splunkhec

use ./adapters/export/loki

use ./adapters/export/datadog

use ./adapters/query/promql

use ./adapters/query/sql

use ./cmd/shortfall

use ./adapters/payment/stripe
