go 1.25.0

use .

use ./adapters/export/prometheus

use ./adapters/export/cloudwatch

use ./adapters/export/gcp

use ./adapters/export/otlp

use ./adapters/query/promql

use ./adapters/query/sql

use ./cmd/shortfall

use (
	./adapters/incident/slack
	./adapters/payment/stripe
)

use ./test/promgolden

use ./adapters/incident/incidentio

use ./adapters/incident/rootly

use ./adapters/incident/firehydrant

use ./adapters/incident/pagerduty

use ./adapters/query/cwinsights

use ./test/loggolden

use ./test/docsnippets

use ./test/licensehdr

use (
	./adapters/query/gcplogging
	./test/wikisync
)

use ./test/blankline

use ./test/symbolcheck

use ./test/modgraph
